doctype 
html
    head
        include .\head.pug
  
    body 
        .container
            h2 Black Education Website 
            h3 Knowledge is Power 
            h3 There is more to come... 
         

        include .\footer.pug

